.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-height: 100vh;
}

.login-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  justify-content: center;
}
