.toggleButtonsContainer {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

@media (min-width: 1250px) {
  .toggleButtonsContainer {
    grid-column: 1 / -1;
    padding-top: 0;
  }
}
