.grid {
  display: grid;
  gap: var(--spacing-15);
  width: 100%;
  margin: 0 auto;
  position: relative;
  grid-template-areas:
    "video"
    "script"
    "buttons";
  grid-template-columns: 1fr;
}

.gridOneColumn {
  display: grid;
  gap: var(--spacing-15);
  width: 100%;
  max-width: 1400px;
  margin: 0 auto var(--spacing-15) auto;
  position: relative;
  grid-template-areas:
    "content"
    "buttons";
  grid-template-columns: 1fr;
}

.videoArea {
  grid-area: video;
  width: 100%;
  height: 100%;
}

.scriptArea {
  grid-area: script;
  background-color: var(--color-bg-dark);
  width: 100%;
}

.contentArea {
  grid-area: content;
  width: 100%;
}

.buttonsArea {
  grid-area: buttons;
}

.grid img,
.gridOneColumn img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.hide {
  display: none;
}

/* Larger than mobile */
/* @media (min-width: 769px) {
  .gridOneColumn img {
    max-height: 70vh;
  }
} */

/* @media (min-width: 1250px) {
  .grid {
    grid-template-areas:
      "video   script"
      "buttons buttons";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }
} */
