@import "../../shared.css";

/* Mobile-first styles */
.buttonsContainer {
  display: flex;
  gap: var(--spacing-xl);
  justify-content: center;
  margin-top: var(--spacing-xl);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--color-white);
  color: var(--color-text-primary);
  width: 100%;
  height: 100%;
  padding: var(--spacing-50);
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--spacing-md);
  margin-top: var(--spacing-md);
}

.passwordContainer {
  margin: 0;
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.input {
  padding: var(--input-padding);
  margin-bottom: var(--spacing-md);
  border: var(--input-border);
  border-radius: var(--input-border-radius);
  height: var(--input-height);
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-white);
  color: var(--color-black);
}

.eye {
  position: absolute;
  left: 93%;
  bottom: var(--spacing-lg);
  cursor: pointer;
  color: var(--color-gray);
  visibility: visible;
}

.button {
  composes: btn from "../../shared.css";
  width: 100%;
}

/* Desktop and up */
@media (min-width: 1201px) {
  .eye {
    left: 95%;
  }
}
