.panel {
  background: var(--color-bg-lighter);
  text-align: center;
  box-shadow: var(--shadow-lg);
  height: 100%;
  width: 100%;
}

.mic {
  padding: var(--spacing-sm);
  background: var(--color-bg-white);
  border: 1px solid var(--color-border-gray);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: var(--spacing-3xl);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--spacing-md);
  border-radius: 30.4px;
  background-color: var(--color-primary-dark);
  width: 48px;
  height: 48px;
  color: var(--color-white);
}

.buttonGroup {
  display: flex;
  gap: var(--spacing-sm);
  flex-wrap: wrap;
  justify-content: center;
}

.MediaRecorder {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.feedback {
  width: 100%;
  padding: var(--spacing-sm);
  margin-top: var(--spacing-md);
  text-align: left;
  background-color: var(--color-white);
  border: 1px solid var(--color-border-gray);
}
