.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-15);
  width: 100%;
  margin: 0 auto;
}

.toggleButtons {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-sm);
  padding: var(--spacing-sm);
}

@media (min-width: 1250px) {
  .grid {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
  }

  .toggleButtons {
    grid-column: 1 / -1;
    padding-top: 0;
  }
}
