.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-10) var(--spacing-20);
  background-color: var(--color-bg-white);
  border-bottom: 1px solid var(--color-border-light);
  color: var(--color-primary);
}

.link {
  text-decoration: none;
  transition: all var(--transition-base);
}

.link:hover {
  text-decoration: underline;
  padding: var(--spacing-10) var(--spacing-15);
  border-radius: var(--radius-sm);
  cursor: pointer;
}

.active {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: none;
  padding: var(--spacing-10) var(--spacing-15);
  border-radius: var(--radius-sm);
}
